{% comment %}Adapted from https://github.com/daviddarnes/alembic/blob/master/_includes/site-search.html{% endcomment %}
{% comment %}TODO: hide search-results container when search is no longer focused{% endcomment %}

const endpoint = '{{ "/search.json" | relative_url }}';

const pages = [];

fetch(endpoint)
  .then(blob => blob.json())
  .then(data => pages.push(...data))

function findResults(termToMatch, pages) {
  return pages.filter(item => {
    const regex = new RegExp(termToMatch, 'gi');
    return item.title.match(regex) || item.excerpt.match(regex) || item.content.match(regex);
  });
}

function displayResults() {
  const resultsArray = findResults(this.value, pages);
  const html = resultsArray.map(item => {
    return `
      <li class="search__result">
        <article class="article">
          <a href="${item.url}" title="Result — ${item.title}">${item.title}</a>
          <p>${item.excerpt}</p>
        </article>
      </li>`;
  }).join('');
  if ((resultsArray.length == 0) || (this.value == '')) {
    resultsList.innerHTML = `<p>Sorry, nothing was found</p>`;
  } else {
    resultsList.innerHTML = html;
  }

  {% comment %}Show search results container{% endcomment %}
  var container = document.getElementById('results-container');
  if(!container.classList.contains('active')) {
    container.classList.add('active');
  }
}

const field = document.querySelector('#search-field');
const resultsList = document.querySelector('#search-results');

if (field !== null) {
  field.addEventListener('keyup', displayResults);

  field.addEventListener('keypress', function(event) {
    if (event.keyCode == 13) {
      event.preventDefault();
    }
  });
}
