.top-bar {
  @extend .container;
  display: flex;
  justify-content: flex-end;

  &__section {
  }

  a {
    @include reset-link();
    color: inherit;

    &:hover {
      color: palette(highlight);
    }
  }

  .links {
    display: flex;
    list-style-type: none;
  }

  .link {
    flex: 1;
    margin-left: $global-margin / 4;
  }
}
