// =============================================================================
// Resets & Base Styles
// =============================================================================

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @include breakpoint($medium) {
    font-size: $medium-font-size;
  }

  @include breakpoint($x-large) {
    font-size: $x-large-font-size;
  }
}

body {
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  @include text-link($color: palette(highlight), $hover: palette(highlight), $offset: 4px);
}

img {
  display: block;
  max-width: 100%;
}

// Lists
ul, ol {
  padding-left: 1rem;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: none;
  padding-left: 0;
}

// Table Elements
table {
  margin: $global-margin / 2 0;
  border-collapse: collapse;
}

caption {
  margin-bottom: $global-margin / 4;
}

td, th {
  padding: 0.125em 0.5em 0.25em 0.5em;
  text-align: right;
  line-height: 1.25;

  &:first-child {
    text-align: left;
  }
}
