// ===================================
// Layout
// ===================================

.container {
  display: block;
  max-width: $container-width;
  margin-left:  auto;
  margin-right: auto;
  padding-left: $global-margin / 2;
  padding-right: $global-margin / 2;
}

article {
  margin: 4rem 0;
}

.header {

  &--site {
    margin: 2rem 0;
  }
}
