// ===================================
// Basic Typography
// ===================================

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.25;
  font-family: $root-font-family;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

// Placeholders
%secondary-font {
  text-transform: lowercase;
  font-family: $secondary-font-family;
  font-weight: 300;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2.5rem;
  font-family: $headline-font-family;
  font-weight: 400;

  @include breakpoint($medium) {
    max-width: 50vw;
  }
}

h2 {
  margin-top: $global-margin;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}

h3 {
  // font-size: 1.25rem;
  @extend %secondary-font;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

table {
  font-feature-settings: "lnum", "tnum";
}

@supports (font-variant-numeric: lining-nums) {

  table {
    font-feature-settings: normal;
    font-variant-numeric: lining-nums tabular-nums;
  }
}

caption {
  @extend %secondary-font;
  font-size: 0.875rem;
}

time {
  font-style: italic;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: inherit;
}

// ===================================
// Special Typographic Classes
// ===================================
